@mixin maxSize() {
    width: 100%;
    height: 100%;
}

@mixin centerChildren() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin createGridOverlay() {
    display: grid;
    grid-template-columns: [col0] 100% [col1];
    grid-template-rows: [row0] 100% [row1];
}

@mixin attachToGridOverlay($zIndex) {
    grid-area: row0 / col0 / row1 / col1;
    z-index: $zIndex;
}

@mixin createFontFace($font-family, $src) {
    @font-face {
        font-family: $font-family;
        src: url($src);
    }
}

@mixin polishDom() {
    * {
        margin: 0;
        padding: 0;
    }
}
