@import "../../../../@assets/.scss/lib.scss";

.message {
    @include maxSize();
    @include createGridOverlay();
}

#message__particles {
    @include maxSize();
    @include attachToGridOverlay(0);
}

.message__content {
    @include attachToGridOverlay(1);
    @include centerSelf();

    width: 20%;
    height: 12%;
    display: flex;
    transition: all $animationDuration * 0.8 ease;
    perspective: 50px;
    box-shadow: 0 0 2px 0.5px black;
}

@media only screen and (min-width: 768px) and (hover: hover) and (pointer: fine) {
    .message__content {
        width: 20%;
        height: 12%;
    }
}

@media only screen and (max-width: 768px), (hover: none) and (pointer: coarse) {
    .message__content {
        width: 80%;
        height: 15%;
    }
}
