@import "../../../@assets/styles/lib.scss";

.footer {
    display: grid;
    grid-template-columns: [col0] 100% [col1];
    grid-template-rows: [row0] 20% [row1] 70% [row2] 10% [row3];
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;
}

.footer__logo {
    @include centerChildren();

    grid-area: row0 / col0 / row1 / col1;
}

.footer__link-container {
    @include centerChildren();

    grid-area: row1 / col0 / row2 / col1;
}

.footer__link {
    margin: 1%;
    box-shadow: 0 0 6px 1px black;
}

.footer__notices-container {
    @include centerChildren();

    grid-area: row2 / col0 / row3 / col1;
    background-color: $backgroundColor;
    filter: brightness(80%);
}

.footer__notices {
    color: white;
    font-weight: normal;
    font-size: 13px;
    font-family: "Source Han Serif Regular";
}

@media only screen and (min-width: 768px) {
    .footer__link {
        width: 20%;
        height: 20%;
        min-width: 200px;
        min-height: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .footer__link-container {
        flex-direction: column;
    }

    .footer__link {
        width: 50%;
        height: 20%;
    }
}
