@import "../../../@assets/.scss/lib.scss";

// The relative paths are resolved relatively to the mixin's definition. That is
// in the @assets/styles folder therefore the path is different to what it would
// be considering the path of the current file.
@include createFontFace(
    "Source Han Serif Heavy",
    "../.otf/SourceHanSerif-Heavy.otf"
);

@include createFontFace(
    "Source Han Serif Regular",
    "../.otf/SourceHanSerif-Regular.otf"
);

@include createFontFace(
    "Theano Didot Regular",
    "../.ttf/TheanoDidot-Regular.ttf"
);

// This font face is imported from a CDN (Content Delivery Network) and is
// copyrighted and therefore the reason why this website may not be published.
//
// For more information see https://www.schick-toikka.com/noe-display, the
// official website of the font face.
@include createFontFace(
    "Noe Display Bold",
    "//db.onlinewebfonts.com/t/30a71dcf9a1c39558ca4e97c92a4b2fa.eot"
);

@include polishDom();

::-webkit-scrollbar {
    background-color: white;
    width: 15px;
}

::-webkit-scrollbar-button {
    height: 1%;
    background-color: $secondaryColor;
}

::-webkit-scrollbar-button:hover {
    background-color: $primaryColor;
}

::-webkit-scrollbar-corner {
    background-color: $backgroundColor;
}

::-webkit-scrollbar-track {
    background-color: $backgroundColor;
}

::-webkit-scrollbar-thumb {
    background-color: $secondaryColor;
}

::selection {
    background-color: rgba($color: $primaryColor, $alpha: 0.8);
}

.skeleton {
    display: grid;
    grid-template-columns: [col0] 100% [col1];
    grid-template-rows: [row0] minmax(100px, 15%) [row1] 1fr [row2];
    width: 100vw;
    height: 100vh;
}

.skeleton__header {
    grid-area: row0 / col0 / row1 / col1;
    user-select: none;
    z-index: 1;
}

.skeleton__content {
    grid-area: row1 / col0 / row2 / col1;
    overflow: hidden;
    min-height: 0;
    height: 100%;
    z-index: 0;
}
