@import "../lib.scss";

.navbarChild {
    @include centerChildren();

    flex-basis: 0;
    flex-grow: 1;
    transition: all $animationDuration * 0.8 ease;
}

.navbarChildViewport {
    @include createGridOverlay();

    width: 50%;
    height: 70%;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 8px 6px -6px black;
    background-color: black;
    visibility: visible;
    cursor: crosshair;
}

.navbarChildContent {
    @include attachToGridOverlay(1);
    @include centerChildren();
}

.navbarChildContentText {
    color: white;

    font-family: "Source Han Serif Regular";
}

.navbarChildOnClick {
    @include attachToGridOverlay(2);
    @include createGridOverlay();

    overflow: hidden;
}

.navbarChildOnClickDoor {
    @include attachToGridOverlay(0);

    width: 101%;
    height: 101%;
    background-color: #fe2057;
    transition: transform $animationDuration * 0.5 ease;
}

.navbarChildKanji {
    @include attachToGridOverlay(3);
    @include centerChildren();

    color: black;
    font-family: "Source Han Serif Heavy";
    transition: all $animationDuration * 0.5 ease;
}
